<aside class="sidebar pos-fixed z-2" data-role="sidebar" data-toggle="#sidebar-toggle-3" id="sb3" data-shift=".shifted-content">
    {{!-- <div class="sidebar-header bg-red" data-image="images/sb-bg-1.jpg"> --}}
     <div class="sidebar-header bg-red">
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <span class="title fg-white">Stockeeper</span>
        <span class="subtitle fg-white"> 2018 © Accelerate Cohort 7 Group 1</span>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a href="home">
                <span class="mif-home icon"></span>Home</a>
        </li>
        <li>
            <a href="search">
                <span class="mif-search icon"></span>Search</a>
        </li>
        <li class="divider"></li>
        <li class="stick-left bg-red">
            <a class="dropdown-toggle" href="#">
                <span class="mif-files-empty icon"></span>Portfolio</a>
            <ul class="d-menu" data-role="dropdown" style="display: none;">
                <li>
                    <a href="portfolio">
                        <span class="mif-files-empty icon"></span>Portfolio Summary</a>
                </li>
                {{#each portfoList}}
                <li>
                    <a href="">
                        <span class="mif-file-empty icon"></span>{{ name }}</a>
                </li>
                {{/each}}
            </ul>
        </li>
        <li>
            <a href="chat" target="_blank">
                <span class="mif-bubbles icon"></span>Chat Room</a>
        </li>
        <li>
            <a href="logout">
                <span class="mif-user icon"></span>Logout</a>
        </li>
    </ul>
</aside>