<header class="app-bar bg-red fg-white app-bar-expand-md" data-role="appbar" id="app-bar-1532070331871987"><button type="button" class="hamburger menu-down hidden"><span class="line"></span><span class="line"></span><span class="line"></span></button>
    {{!-- <a href="/" class="d-block brand fg-white no-hover"><span class="border bd-white border-radius p-2">m<sup>4</sup></span></a> --}}
    <ul class="app-bar-menu ml-auto collapsed" style="">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</header>