sudo: required
services: 
  - docker
language: node_js
node_js:
  - "6"
env:
  global:
    # to store the current GIT SHA globally for docker image versioning on deploy.sh
    - SHA=$(git rev-parse HEAD)
    # to disable Google Cloud SDK prompt that requires user input
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
install:
  - git clone https://github.com/$TRAVIS_REPO_SLUG.git $TRAVIS_REPO_SLUG
  - cd $TRAVIS_REPO_SLUG
  - npm install mocha -g
before_script:
  # add this line after encrypting the Google service-account.json
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in stockeeper-service-account.json.enc -out stockeeper-service-account.json -d
  # to install Google Cloud SDK and kubectl
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  # input service account credentials
  - gcloud auth activate-service-account --key-file stockeeper-service-account.json
  - gcloud auth configure-docker
  # login into Docker CLI (the ENV var are set on Travise CI)
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t asia.gcr.io/stockeeper-210714/sk-website -f ./Dockerfile .

script:

deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: master