version: '3.1'
services:
  postgres:
    image: 'postgres:latest'
    volumes:
      - db-data:/var/lib/postgresql/data
  redis:
    image: 'redis:latest'
  nginx:
    restart: always
    build:
      dockerfile: Dockerfile.dev
      context: ./nginx
    image: asia.gcr.io/stockeeper-210714/sk-nginx:${SHA}
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
    depends_on:
      - website
    ports:
      - '80:80'
  website:
    build: ./
    image: asia.gcr.io/stockeeper-210714/sk-website:${SHA}
    stdin_open: true
    tty: true
    secrets:
      - facebook_id
      - facebook_client_secret
      - google_plus_id
      - google_client_secret
      - pgpassword
    environment:
      PGPASSWORD: /run/secrets/psql_password
      PGUSER: postgres
      PGHOST: postgres
      PGDATABASE: postgres
      PGPORT: 5432
      REDIS_HOST: redis
      REDIS_PORT: 6379
      FACEBOOK_ID: /run/secrets/facebook_id
      FACEBOOK_CLIENT_SECRET: /run/secrets/facebook_client_secret
      GOOGLE_PLUS_ID: /run/secrets/google_plus_id
      GOOGLE_CLIENT_SECRET: /run/secrets/google_client_secret
    depends_on:
      - postgres
      - redis
    command: >
      sh -c "npm install knex -g &&
            knex migrate:latest &&
            npm run start"

volumes:
  db-data:

secrets:
  facebook_id:
    external: true
  facebook_client_secret:
    external: true
  google_plus_id:
    external: true
  google_client_secret:
    external: true
  pgpassword:
    external: true