<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>{{{pageTitle}}} - {{{siteTitle}}}</title>
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  <!-- Metro 4 -->
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/metro.css">
  {{!-- <link href="https://fonts.googleapis.com/css?family=Gaegu|Source+Sans+Pro:300" rel="stylesheet"> --}}
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}

</head>

<body id="{{{pageID}}}">

  {{{ body }}}

</body>

</html>