{{> metrosidebar}}
<div class="shifted-content h-100 p-ab">
  {{> metroappbar}}

  <div class="chat">
    {{!-- Side Bar --}}
    <div class="chat__sidebar p-2" style="background-color: #80aabe">
      <h3 class="text-center">Active</h3>
      {{!-- <div id="Active"> --}}
        <ul id='activeUsers'></ul>
      {{!-- </div> --}}
    </div>

    {{!-- Main --}}
    <div class="chat__main p-2">
      <div class="chat__message">
        <ul id='messages' class="chat__messages"></ul>
      </div>

      <div class="chat__footer">
        <form id="message-form">
          <input name="message" type="text" placeholder="message" autofocus autocomplete="off" />
          <button class="button alert rounded ml-2">Send</button>
        </form>

      </div>

    </div>
  </div>
</div>
<!--
  <script id="message-template" type="text/x-handlebars-template">
    <li class="message">
      <div class="message__title">
        <h4> {{from}}</h4>
        <span> {{createdAt}}</span>
      </div>
      <div class="message__body">
        <p> {{text}}</p>
      </div>
    </li>
  </script>
-->
{{> metrojs}}
<script src="/socket.io/socket.io.js"></script>
<script src="js/lib/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="/js/chat.js"></script>