<body>
    {{> metrosidebar}}
    <div class="shifted-content h-100 p-ab">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
        </div>

        <div class="h-100 p-4">
            <p class="h1">Home</p>
            <p class="h2">What is Lorem Ipsum?</p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s ...
            </p>
        </div>
        {{!-- Fin News --}}
        <div class="p-4">
            <div class="grid">
                <div class="row">
                    <div class="card image-header" style="width: 344px">
                        <div class="card-header fg-white" style="background-image: url(https://loremflickr.com/320/240?random=1)">
                            Journey To Mountains
                        </div>
                        <div class="card-content p-2">
                            <p class="fg-gray">Posted on January 21, 2015</p>
                            Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...
                        </div>
                        <div class="card-footer">
                            <button class="button secondary">Read More</button>
                        </div>
                    </div>
                    <div class="card image-header" style="width: 344px">
                        <div class="card-header fg-white" style="background-image: url(https://loremflickr.com/320/240?random=2)">
                            Journey To Mountains
                        </div>
                        <div class="card-content p-2">
                            <p class="fg-gray">Posted on January 21, 2015</p>
                            Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...
                        </div>
                        <div class="card-footer">
                            <button class="button secondary">Read More</button>
                        </div>
                    </div>
                    <div class="card image-header" style="width: 344px">
                        <div class="card-header fg-white" style="background-image: url(https://loremflickr.com/320/240?random=3)">
                            Journey To Mountains
                        </div>
                        <div class="card-content p-2">
                            <p class="fg-gray">Posted on January 21, 2015</p>
                            Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...
                        </div>
                        <div class="card-footer">
                            <button class="button secondary">Read More</button>
                        </div>
                    </div>
                    <div class="card image-header" style="width: 344px">
                        <div class="card-header fg-white" style="background-image: url(https://loremflickr.com/320/240?random=4)">
                            Journey To Mountains
                        </div>
                        <div class="card-content p-2">
                            <p class="fg-gray">Posted on January 21, 2015</p>
                            Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...
                        </div>
                        <div class="card-footer">
                            <button class="button secondary">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> metrojs}}
</body>