<body>
    {{> metrosidebar}}
    <div class="shifted-content h-100 p-ab">
        {{> metroappbar}}

        <div class="h-100 p-4">
            <p class="h1">Welcome</p>
            <p class="h2">What is Lorem Ipsum?</p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s ...
            </p>
        </div>
    </div>
    {{> metrojs}}
</body>