
<body>
{{> navbar-outer}}
<div class="centered-form">
    <div class="centered-form__form">
        <form action="/login" method="POST">
            <div class="form-field">
                <h3>Log in to Chat App</h3>
            </div>
            <div class="form-field">
                <label>Email</label>
                <input type="text" name="username" autofocus/>
            </div>
            <div class="form-field">
                <label>Password</label>
                <input type="password" name="password"/>
            </div>
            <div class="form-field">
                <button>Log in</button>
            </div>
        </form>
        
    </div>
</div>
</body>