 {{> metrosidebar}}
<div class="shifted-content h-100 p-ab">
    {{> metroappbar}}

    <div class="h-100 p-4">
        <p class="h1">Portfolio Summary</p>
        <button id="btn-add-portfolio">Add Portfolio</button>
        <table class="table" id="portfolio-summary">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Select</th>
                    <th>Modify/Remove</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <p class="h2">Portfolio Details</p>
        {{!--
        <ul class="bottom" data-role="tabs">
            <li>Positions</li>
            <li>Transactions</li>
            <li>Graphs</li>
        </ul> --}}
        <div id="portfolio-details-panel">
            <button id="btn-positions" disabled>Positions</button>
            <button id="btn-transactions" disabled>Transactions</button>
            <button id="btn-graphs" disabled>Graphs</button>
        </div>
        <table class="table" id="portfolio-details">

        </table>
    </div>
</div>
{{> metrojs}}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/portfolioService.js"></script>