<body>
    {{> metrosidebar}}
    <div class="shifted-content h-100 p-ab">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
            <div class="app-bar-item ml-auto">
                <input type="text" placeholder="Search" class="app-bar-input app-bar-search">
            </div>
        </div>

        <div class="h-100 p-4">
            <p class="h1">Search</p>
            <p class="h2">What is Lorem Ipsum?</p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s ...
            </p>
        </div>

        <div class="container-fluid">
            <table class="table striped table-border mt-4" 
                data-role="table" 
                data-cls-table-top="row flex-nowrap" 
                data-cls-search="cell-md-8"
                data-cls-rows-count="cell-md-4" 
                data-rows="5" 
                data-rows-steps="5, 10"
                >
                <thead>
                    <tr>
                        <th class="sortable-column sort-asc">Symbol</th>
                        <th class="sortable-column sort-asc">Company</th>
                        <th class="sortable-column" data-format="money">Current Price</th>
                        <th class="sortable-column" data-format="money">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HKG:0005</td>
                        <td>HSBC Holdings plc</td>
                        <td>$73.90</td>
                        <td>$+0.55(0.75%)</td>
                    </tr>
                    <tr>
                        <td>HKG:0700</td>
                        <td>Tencent Holdings Ltd</td>
                        <td>$386.80</td>
                        <td>$−9.20(2.32%)</td>
                    </tr>
                    <tr>
                        <td>HKG:2318</td>
                        <td>PING AN INSURAN</td>
                        <td>$71.10</td>
                        <td>+0.15(0.21%)</td>
                    </tr>
                </tbody>
                {{!-- <tfoot>
                    <tr>
                        <th>Symbol</th>
                        <th>Company</th>
                        <th>Current Price</th>
                        <th>Status</th>
                    </tr>
                </tfoot> --}}
            </table>
        </div>
    </div>
    {{> metrojs}}
</body>