
    {{> metrosidebar}}
    <div class="shifted-content h-100 p-ab">
        <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
            <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
                <span class="mif-menu fg-white"></span>
            </button>
            {{!-- <div class="app-bar-item ml-auto">
                <input type="text" placeholder="Search" class="app-bar-input app-bar-search">
            </div> --}}
        </div>

        <div class="container h-100 p-4">
            <p class="h1">{{{pageTitle}}}</p>
        </div>

        <div class="container">
            <table class="table striped row-hover table-border mt-4" id="search-table"
                data-role="table" 
                data-cls-table-top="row flex-nowrap" 
                data-cls-search="cell-md-8"
                data-cls-rows-count="cell-md-4" 
                data-rows="5" 
                data-rows-steps="5, 10"
                data-source="/api/stock/"
                >
                <thead>
                    <tr>
                        <th class="sortable-column sort-asc">Symbol</th>
                        <th class="sortable-column sort-asc">Company</th>
                        <th class="sortable-column" data-format="money">Current Price</th>
                        <th class="sortable-column" data-format="money">Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>Symbol</th>
                        <th>Company</th>
                        <th>Current Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>
    {{> metrojs}}
    <script src="js/search.js"></script>
