<body>
    {{> metrosidebar}}
    <div class="shifted-content h-100 p-ab">
        {{> metroappbar}}
        
        <div class="grid">
            <div class="row">
                <div class="cell-3">
                    {{symbol}}
                </div>
                <div class="cell-9">
                    <span id="name"></span>
                </div>
            </div>
            <div class="row">
                <div class="cell-6">
                    <div>test</div>
                    <div>test</div>
                </div>
                <div class="cell-2">
                    <div>test</div>
                    <div>test</div>
                </div>
                <div class="cell-2">
                    <div>test</div>
                    <div>test</div>
                </div>
                <div class="cell-2">
                    <div>test</div>
                    <div>test</div>
                </div>
            </div>
        </div>
    </div>
</body>