<body id="{{{pageID}}}" style="background-image: url('../img/test_landing_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;">
    {{!--

    <body id="{{{pageID}}}"> --}} {{!--
        <div class="shifted-content h-100 p-ab"> --}} {{> metrosignupbar}} {{!--
            <div class="h-100 p-4"> --}} {{!--
                <div class="grid"> --}} {{!--
                    <div class="row"> --}} {{!--
                        <div id="headline"> --}}
                            <div id="headline" class="cell-12 cell-md-8 cell-lg-6 offset-0 offset-md-2 offset-lg-3 p-12 p-md-16 p-lg-20">
                                <h1>{{{pageTitle}}} to Stockeeper</h1>
                                {{!-- <p>See all of your portfolios in one place. Manage quickly and easily with our services.
                                    <strong>Stockeeper</strong>
                                    doesn't store your broker credentials. Learn More
                                </p> --}}
                                <p>
                                    At <strong>Stockeeper</strong>, you get free stock quotes, up-to-date news, portfolio management resources, Hong Kong market data and social
                                    interaction that help you manage your financial life. Test14
                                </p> {{!--
                                <button class="button alert rounded" onclick="location.href='/signup'">Sign Up</button> --}}
                                <button class="button alert rounded" data-role="ripple" onclick="location.href='/signup'">Sign Up</button>
                            </div>
                            {{!-- </div> --}} {{!-- </div> --}} {{!-- </div> --}} {{!-- </div> --}}
    </body>
    {{> metrojs}}