  /* Custom Typography */
  /* h1, h2, h3, h4, h5, h6 {
    font-family: 'Gaegu', cursive;
  }

  h1 {
    font-size: 56px;
  }

  p {
    font-family: 'Source Sans Pro', sans-serif;
  }

  p strong {
    font-weight: bold;
  } */

  /* Auth Form */
  .auth-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: auto;
    padding: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto auto;
  }

  ul .item{
    background-color: rgba(241, 128, 128, 0.479);
    color: white;
    display: flex;
    flex-direction: row;
  }

  ul .item .subItem .symbol{
    background-color: rgb(187, 40, 14);
  }

  ul .item .subItem .name{
    background-color: rgb(243, 130, 77);
  }

  ul .item .subItem .price{
    background-color: rgb(255, 223, 155);
  }

  .chat {
    display: flex;
    /* background-color: yellow; */
  }

  .chat__sidebar {
    overflow-y: scroll;
    width: 10em;
    height: calc(100vh - 52px);
    margin: auto;
    /* background-color: red; */
    overflow: scroll;
  }

  .chat__main {
    position: relative;
    width: 100%;
    height: calc(100vh - 52px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/pattern.jpg');
    /* background-color: rgba(255, 255, 0, 0.253); */
  }

  .chat__message {
    /* background-color: rgba(53, 93, 224, 0.219); */
    height: 100%;
  }

  .chat__footer {
    /* background-color: blue; */
  }

  .chat__footer form {
    /* background-color: orange; */
    display: flex;
    flex-direction: row;
  }

  .chat__footer input {
    /* background-color: pink; */
  }

  .chat__footer button {
    /* background-color: cyan; */
  }

  .chat ul li {
    list-style-type: none;
  }

  /* Landing Pages's Headline */
  #headline {
    position: absolute;
    /* width: 50%; */
    height: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #headline p {
    display: block;
  }

  #headline button {
    display: block;
    width: 50%;
    margin: 20px auto;
  }

  .rounded {
    border-radius: 1rem!important;
  }

  #portfolio {
    overflow: auto;
  }

  #portfolio-details{
    overflow: auto;
  }
