  html, h1, h2, h3, h4, h5, h6, p {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    color: black;
  }
  /* Auth Form */
  .auth-form {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 300px;
    height: auto;
    padding: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto auto;
  }

  ul .item{
    background-color: rgba(241, 128, 128, 0.479);
    color: white;
    display: flex;
    flex-direction: row;
  }

  ul .item .subItem .symbol{
    background-color: rgb(187, 40, 14);
  }

  ul .item .subItem .name{
    background-color: rgb(243, 130, 77);
  }

  ul .item .subItem .price{
    background-color: rgb(255, 223, 155);
  }

  .chat {
    display: flex;
  }

  .chat__sidebar {
    overflow-y: scroll;
    width: 10em;
    height: 100vh;
  }

  .chat ul li {
    list-style-type: none;
  }

  /* Landing Pages's Headline */
  #headline {
    position: absolute;
    /* width: 50%; */
    height: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #headline p {
    display: block;
    text-align: center;
  }

  #headline button {
    display: block;
    width: 50%;
    margin: 20px auto;
  }

  .rounded {
    border-radius: 1rem!important;
}